.filter-buttons {
  text-align: center;
  margin-bottom: 25px;
}

.filter-btn {
  margin: 5px;
  background: #a97155;
  border: none;
  color: white;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.filter-btn.active {
  background: rgb(92, 61, 45);
  transform: scale(1.1);
}

.filter-btn:hover {
  background: rgba(169, 113, 85);
  color: #fff;
  transform: scale(1.05);
}

.project-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  display: flex;
  justify-content: center;
}

.project-card-inner {
  background-color: #2b2828;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.project-card-inner:hover {
  transform: scale(1.05);
}

.project-image-wrapper {
  overflow: hidden;
}

.project-image-wrapper img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
  border-bottom: 3px solid #a97155;
}

.project-card-inner:hover .project-image-wrapper img {
  transform: scale(1.08);
}

.project-card-inner .card-body {
  padding: 20px;
  color: #f4f4f4;
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #a97155;
}

.card-text {
  font-size: 1rem;
  opacity: 0.85;
}

.project-links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.project-links button {
  flex: 1;
  margin: 5px;
  border-radius: 50px;
  font-weight: bold;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.project-links button:first-child {
  background: #a97155;
  border: none;
}

.project-links button:last-child {
  background: #333;
  border: none;
}

.project-links button:hover {
  transform: scale(1.08);
  opacity: 0.9;
}

@media (max-width: 992px) {
  .title {
    font-size: 2.3rem;
  }

  .filter-btn {
    font-size: 0.95rem;
    padding: 10px 18px;
  }

  .project-card-inner {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .filter-btn {
    font-size: 0.9rem;
    padding: 8px 15px;
  }

  .project-card-inner {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 1.8rem;
  }

  .filter-btn {
    font-size: 0.85rem;
    padding: 7px 12px;
  }

  .project-card-inner {
    width: 95%;
  }
}
