@import "bootstrap/dist/css/bootstrap.min.css";

section {
  padding: 80px 5%;
  background: #1b1b1b; /* Dark Black */
  color: #e0c9a6; /* Soft Brown */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #bfa58a;
}

.role {
  font-size: 1.5rem;
  font-weight: bold;
  color: #a97155;
}
