@import 'bootstrap/dist/css/bootstrap.min.css';

/* Light Mode */
body {
    background-color: #ffffff;
    color: #333;
    transition: background 0.3s, color 0.3s;
  }
  
  /* Dark Mode */
  body.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  .dark-mode .navbar {
    background-color: #333;
  }
  
  .dark-mode .card {
    background-color: #252525;
    color: #fff;
    border: 1px solid #444;
  }
  
  .dark-mode button {
    background-color: #874CCC;
    color: #fff;
  }
  